<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Decodable.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17FB80F61B530FED0012F106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17FB80FF1B530FED0012F106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE7B5611B4C9FB900837609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE7B56B1B4C9FB900837609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
